.ImagePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImagePreview__Image {
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
  width: fit-content;
}

.ImagePreview__DeleteImage {
  justify-content: flex-start;
}
