.PostsBlock {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PostsBlock__Header {
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.PostsBlock_Posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 680px;
  margin: auto;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.PostsBlock_PostsCreatorCard {
  width: 100%;
  flex: 1 0 auto;
  height: 200px;
  margin-bottom: 50px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.PostsBlock__TextField {
  width: 100%;
  height: 100%;
  /* flex: 1 0 auto; */
}