.formControl.error input, 
.formControl.error textarea {
  border: solid tomato 2px;
}

.formControl.error span {
  color: tomato;
  font-size: 12px;
}

.formSummaryError {
  border: solid tomato 2px;
  padding: 5px;
  color: tomato;
}