.App__Container {
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 170px 1fr;
  /* grid-gap: 10px; */
}

.App_Content {
  grid-area: c;
  background-color: rgb(241, 249, 216);
}

/* .App__GlobalProgress.App__GlobalProgrees {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
} */



