.Comment__Box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  min-height: 70px;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.Comment__UserCommentBox {
  display: flex;
  align-items: center;
  min-height: 50px;
  flex: 1 0;
}

.Comment__Header.Comment__Header {
  width: 100%;
  padding: 0;
}

.Comment__Typography.Comment__Typography {
  padding: 20px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.Comment__Text {
  overflow-wrap: break-word;
  flex: 1 0;
  overflow: hidden;
}

.Comment__DateBar {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
  display: block;
}

.Comment__Icon.Comment__Icon {
  display: flex;
  align-self: flex-end;  
  margin-right: 5px;
}

.Comment__CloseIcon.Comment__CloseIcon {
  width: 15px;
  height: 15px;
}