.CommentsCreator__Box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  min-height: 90px;
  height: auto;
  width: 100%;
  background-color: white;
}

.CommentsCreator__UserCommentBox {
  display: flex;
  align-items: center;
  min-height: 60px;
  flex: 1 0;
}

.CommentsCreator__Avatar {
  flex: 0 0 auto;
  align-self: flex-start;
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

.CommentsCreator__TextField.CommentsCreator__TextField {
  flex: 1 0;
  margin-left: 20px;
}

.CommentsCreator__Button.CommentsCreator__Button {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 12px;
}
