.ImagePreview {
  display: flex;
  flex-direction: column;
}

.ImagePreview__Image {
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
  width: fit-content;
}

.ImagePreview__DeleteImage {
  justify-content: flex-start;
}

.ImagePreview__Text {
  
}

.ImagePreview__Image--post {
  max-height: 300px;
  max-width: 100%;
  object-fit: contain;
  width: fit-content;
}
// .ImagePreview__ImageBox {
//   height: 100%;
// }