.Register__Container.Register__Container {
  min-width: 400px;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.Register__FormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.Register__Field.Register__Field {
  width: 300px;
}

.Register__ButtonContainer {
  text-align: center;
  margin-top: 10px;
}

.Register__Button.Register__Button {
  font-size: 12px;
}