
.Post__Card {
  width: 100%;
  flex: 1 0 auto;
  max-height: 100%;
  margin-bottom: 25px;
}

.Card__CardMedia {
  width: 100%;
  height: 100%;
}

.Card__CardMediaBox {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.Card__CardActionsBox {
  display: flex;
  justify-content: space-between;
}

.Post__CardContent.Post__CardContent {
  padding: 30px;
}

.Post__PostText {
  overflow-wrap: break-word;
  flex: 1 0;
  overflow: hidden;
}

.Post_CommentsCreatorBlock.Post_CommentsCreatorBlock {
  padding-top: 0px;
}

.Post__CommentIcon--expanded {
  color: rgb(255, 158, 32);
}

.Card__PostImage {
  max-height: 300px;
  max-width: 100%;
  object-fit: contain;
  width: fit-content;
}

// .Post__CommentContainer {
//   display: flex;
//   flex-direction: column;
// }







