.Login__Container.Login__Container {
  min-width: 400px;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.Login__FormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex: 1 0;
}

.Login__Field.Login__Field {
  width: 300px;
}

.Login__ButtonContainer {
  text-align: center;
  margin-top: 25px;
}

.Login__Button.Login__Button {
  font-size: 12px;
}

.Login__CardHeader {
  flex: 0 0;
}