.PostCreator__Card {
  width: 100%;
  flex: 1 0 auto;
  margin-bottom: 50px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.PostCreator__CardActions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  margin-top: 10px;
}

.PostCreator__CardContentBox {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.PostCreator__Button.PostCreator__Button {
  height: 30px;
  margin: 5px;
  font-size: 12px;
}

.PostCreator__IconButton:active {
  color: rgb(255, 158, 32);
}

.PostCreator__IconButton:hover {
  color: rgb(255, 158, 32);
}

.PostCreator__ImagePreview {
  margin-top: 10px;
}